.interpretation-like {
    font-weight: lighter;
    padding-left: 3px;
    font-size: 12px;
}

.interpretation-like-btn {
    text-decoration: none;
    font-size: 12px;
    font-weight: lighter;
}

.interpretation-like-btn i {
    font-size: 12px;
}

.interpretation-liked {
    color: #ffffff;
}