<div class="interpretation-like" *ngIf="loadingInterpretations">
    <img src="assets/img/balls-3.svg" alt="" style="height: 100px;">Loading Interpretations
</div>
<div class="container-fluid" *ngIf="!loadingInterpretations">
    <div class="row">
        <div class="col-7">
            <div class="interpretation-search">
                <input type="text" placeholder="Search interpretations" class="form-control">
            </div>
        </div>
        <div class="col-mr col-5">
            <div class="float-right">
                <a class="btn btn-outline-secondary">Top 5 interpretations</a>
                <a class="btn btn-outline-secondary">Top 5 authors</a>
                <a class="btn btn-outline-secondary">Top 5 commentator</a>
            </div>
        </div>
        <div class="col-12">
            <div class="card-columns">
                <div class="card interpretation-card" *ngFor="let interpretation of interpretations$ | async">
                    <div style="height: 320px; background-color: #eee;">
                        <app-visualization-card></app-visualization-card>
                    </div>
                    <div>
                        <app-interpretation-list [interpretations]="[interpretation]" [currentUser]="currentUser$ | async" [rootUrl]="apiRootUrl$ | async">
                        </app-interpretation-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>