.animate-interpretation {
    position: relative;
    -webkit-animation-name: animatenterpretation;
    animation-name: animatenterpretation;
    animation-duration: 1s
}

@-webkit-keyframes animatenterpretation {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatenterpretation {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

.interpretations-columns {
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    column-gap: 1.25rem;
}

.interpretations-columns .card,
.interpretations-columns .interpretation-search {
    display: inline-block;
    width: 100%;
}

.interpretation-search {
    margin-bottom: 10px;
}

.interpretation-search :focus {
    box-shadow: 1px 1px 10px #276696;
}

.interpretation-card {
    margin-bottom: 10px;
    padding: 10px;
}

.btn {
    border: none;
}

.btn:hover {
    background-color: #276696;
}