.interpretations-columns {
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    column-gap: 1.25rem;
}

.interpretations-columns .card,
.interpretations-columns .interpretation-search {
    display: inline-block;
    width: 100%;
}

.interpretation-search {
    margin-bottom: 10px;
}

.interpretation-card {
    margin-bottom: 10px;
    padding: 10px;
}

.btn {
    border: none;
}

.btn:hover {
    background-color: #276696;
}